<section class="ImageBackground ImageBackground--overlay js-FullHeight js-Parallax" data-overlay="4">
  <div class="ImageBackground__holder" style="background-image: url(assets/imgs/home_bg.jpg); background-position: 50% 0px;">
      <img src="assets/imgs/startup-cover0.jpg" alt="...">
  </div>
  <div class="container u-vCenter">
      <div class="row text-center text-white">
          <div class="col-md-8 col-md-offset-2">
              <h1 class="u-FontSize50 u-xs-FontSize40 u-Weight700 u-MargnTop0">ENTRE PROFESIONALES</h1>
              <h4 class="u-MarginBottom50 text-white">SALAS DE FISIOTERAPIA EN BARCELONA</h4>
              <p>
                <a class="btn btn-white btn-white--transparent u-Rounded text-uppercase u-MarginBottom10" routerLink="salas">RESERVA YA</a>
              </p>
          </div>
      </div>
  </div>
</section>
<section class="u-PaddingTop150 u-xs-PaddingTop70 u-xs-PaddingBottom0 container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="Heading-wing Heading-wing">¿Qué es?</h2>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12 text-center">
      <p class="u-LineHeight2">Wellshared es una aplicación web que ayuda a los fisioterapeutas de Barcelona a
        encontrar espacios donde atender a sus clientes de forma económica y profesional.
        Además, ofrece a los centros de fisioterapia la oportunidad de gestionar su agenda
        de manera fácil y visual.</p>
      <br>
      <p>Con Wellshared tanto fisioterapeutas como centros colaboran en el desarrollo de su
        actividad profesional a la vez que mejoran el servicio que ofrecen a sus clientes.</p>
    </div>
  </div>
</section>
<section class="u-PaddingTop150 u-xs-PaddingTop70">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="Heading-wing Heading-wing">¿Cómo funciona?</h2>
    </div>
  </div>
  <div class="u-MarginTop100 u-MarginBottom150 u-xs-MarginBottom30">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive u-BorderRadius4" src="assets/imgs/search.png" alt="">
            </div>
  
            <div class="col-md-6 u-PaddingRight100">
                <h1 class=" u-MarginTop50 u-xs-MarginTop0 u-MarginBottom10">Busca</h1>
                <div class="Split Split--height2"></div>
                <p class="u-MarginTop35 u-lineheight2">
                  Encuentra el espacio que mejor se adapta a ti en función de la localización, el precio y los servicios que ofrece el centro. Wellshared cuenta con todo tipo de salas donde puedes hacer desde sesiones privadas hasta actividades en grupo.
                </p>
                <p class="u-MarginTop25 u-MarginBottom25">
                    <a class="btn-go" routerLink="/salas" role="button">Ver salas <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </div>
  </div>
  <div class="bg-lighter u-PaddingTop100 u-PaddingBottom100 u-MarginBottom150 u-xs-MarginBottom30">
    <div class="container">
        <div class="row">
            <div class="col-md-6 u-PaddingRight100 u-xs-PaddingRight0">
                <h1 class=" u-MarginTop50 u-xs-MarginTop0 u-MarginBottom10">Reserva</h1>
                <div class="Split Split--height2"></div>
                <p class="u-MarginTop35 u-lineheight2">Rellena un breve formulario con tus datos para completar la reserva. Por seguridad,
                    las reservas de Wellshared solo se confirman si el fisioterapeuta aporta un número
                    de colegiado.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive u-BorderRadius4" src="assets/imgs/reserva.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class=" u-MarginBottom150 u-xs-MarginBottom30">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <img class="img-responsive u-BorderRadius4" src="assets/imgs/agreement.jpg" alt="">
          </div>

          <div class="col-md-6 u-PaddingRight100">
              <h1 class=" u-MarginTop50 u-xs-MarginTop0 u-MarginBottom10">Confirmación</h1>
              <div class="Split Split--height2"></div>
              <p class="u-MarginTop35 u-lineheight2">Recibirás un mail de confirmación con información sobre el centro, el día y la hora
                de la reserva. El fisioterapeuta tiene un plazo de 2 horas antes del inicio de la reserva
                para cancelar.</p>
          </div>
      </div>
  </div>
</div>
<div class="bg-lighter u-PaddingTop100 u-PaddingBottom100">
  <div class="container">
      <div class="row">
          <div class="col-md-6 u-PaddingRight100">
              <h1 class=" u-MarginTop50 u-xs-MarginTop0 u-MarginBottom10">Pago</h1>
              <div class="Split Split--height2"></div>
              <p class="u-MarginTop35 u-lineheight2">Antes de utilizar la sala tendrás que abonar al encargado del centro el precio total de
                la reserva. Los métodos de pago disponibles los establece cada centro y los podrás
                consultar antes de realizar la reserva.</p>
          </div>
          <div class="col-md-6">
              <img class="img-responsive u-BorderRadius4" src="assets/imgs/pay.jpg" alt="">
          </div>
      </div>
  </div>
</div>
</section>
<section class="ImageBackground ImageBackground--overlay js-Parallax middle-parallax" data-overlay="2">
  <div class="ImageBackground__holder" style="background-image: url(assets/imgs/espacio_ideal.jpeg); background-position: 50% 44px;">
      <img src="assets/imgs/espacio_ideal.jpeg" alt="...">
  </div>
  <div class="container u-PaddingTop100 u-PaddingBottom100">
      <div class="row u-PaddingTop50 u-PaddingBottom100">
          <div class="col-md-12 text-center text-white">
              <p class="">
                  <a class="btn btn-white btn-white--transparent text-uppercase u-LetterSpacing2" routerLink="/salas">Encuentra tu espacio ideal</a>
              </p>
          </div>
      </div>
  </div>
</section>
<section class="u-PaddingTop100 u-xs-PaddingTop70 u-PaddingBottom100 u-xs-PaddingBottom0 container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="Heading-wing Heading-wing">Nuestras ventajas</h2>
    </div>
  </div>
  <div class="row u-MarginTop50 u-xs-MarginTop60 text-center">
    <div class="col-md-4 col-sm-6 u-MarginBottom35">
        <div class="u-BoxShadow100">
            <div class="Blurb Blurb--wrapper">
                <img src="assets/imgs/icons/economico.png" alt="" height="52">
                <h3 class="Blurb__hoverText u-MarginTop55">Económico</h3>
                <p>Paga solo por las horas que necesitas</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 u-MarginBottom35">
        <div class="u-BoxShadow100">
            <div class="Blurb Blurb--wrapper">
                <img src="assets/imgs/icons/flexible.png" alt="" height="52">
                <h3 class="Blurb__hoverText u-MarginTop55">Flexible</h3>
                <p>Cerca de ti y con amplia disponibilidad horaria</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 u-MarginBottom35">
        <div class="u-BoxShadow100">
            <div class="Blurb Blurb--wrapper">
                <img src="assets/imgs/icons/profesional.png" alt="" height="52">
                <h3 class="Blurb__hoverText u-MarginTop55">Profesional</h3>
                <p>Espacios con todos los servicios necesarios</p>
            </div>
        </div>
    </div>
</div>
</section>