<div class="container">
    <section class="admin-section position-flex-bottom u-PaddingBottom50">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <h1 class=" u-Margin0 u-Weight300">Administración de centros</h1>
            </div>
            <div class="col-md-4 col-xs-12 position-right">
                <button style="margin-right: 8px" class="btn btn-rounded btn-primary" routerLink="/admin/center">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </section>
    <section class="u-PaddingBottom100">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Localidad</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Precio</th>
                    <th scope="col" width="10px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let center of centers">
                    <td>{{center.name}}</td>
                    <td>{{center.location.name}}</td>
                    <td>{{center.adress}}</td>
                    <td>{{center.price}} €/h</td>
                    <td>
                        <button  class="btn btn-rounded btn-danger" (click)="deleteCenter(center.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-rounded btn-success" [routerLink]="['/admin/center', center.id]" routerLinkActive="router-link-active" >
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>