agm-map {
  height: 75vh;
  width: 100%;
}
.card-list {
  height: 75vh;
  overflow: auto;
}
.card-square {
  background-color: #2D6555;
}
.centros-section {
  padding: 30px 0px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
