<section style="padding-top: 25px; max-width: 1120px; margin: 0 auto; margin-top: 80px;">
  <div class="ImageBackground__holder"></div>
  <div class="v-align-child">
    <div class="container ">
      <div class="row ">
        <div class="col-md-6 col-xs-12">
          <div class="form-group select-wrapper" style="width: 250px">
              <select class="form-control" id="localidad" [(ngModel)]="centerSel" (change)="selectionChange()">
                  <option [value]="0" selected>Todos los barrios</option>
                  <option [value]="location.id" *ngFor="let location of locations">{{ location.name }}</option>
                </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-PaddingTop0 u-PaddingBottom50 u-xs-PaddingTop0 u-xs-PaddingBottom0">
  <div style="max-width: 1120px; margin: 0 auto">
    <div class="row centros-section" style="background-color: #fff;">
      <div class="col-md-6 container card-list">
        <div *ngFor="let center of centers" class="col-12 centro-card u-MarginBottom60">
            <div class="row cursor-pointer" [routerLink]="['/salas', center.id]" style="margin: 0px; width: 100%;">
              <div class="col-md-6" style="padding: 0px">
                  <a [routerLink]="['/salas', center.id]">
                    <img style="height: 178px; width: 100%" class="img-responsive" [src]="'http://wellshared-assets.s3.eu-west-3.amazonaws.com/centers/'+center.id+'/'+ center.mainImage" alt="...">
                  </a>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="card-content">
                    <div class="card-section">
                        <h3 style="margin: 5px 0px;">
                            {{ center.adress }}
                        </h3>
                    </div>
                    <div class="card-section">
                        <p>
                            {{ center.name }}
                        </p>
                    </div>
                    <div class="card-section">
                      <div>
                          <div class="card-square" *ngIf="center.individual == 1">Individual</div>
                          <div class="card-square" *ngIf="center.activities == 1">Actividades</div>
                      </div>
                      <div>
                          <p style="    margin-bottom: 0px;">Por hora</p>
                          <p ><b>{{ center.price }}€</b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
            <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false">

            <agm-marker
                *ngFor="let m of markers; let i = index"
                [latitude]="m.lat"
                [longitude]="m.lng"
                (markerClick)="clickedMarker(infowindow)"
                [markerDraggable]="m.draggable">

              <agm-info-window #infowindow>
                  <div  [routerLink]="['/salas', m.centerid]" class="cursor-pointer">
                      <img class="img-responsive" width="1000%" style="margin: 0px;" [src]="'http://wellshared-assets.s3.eu-west-3.amazonaws.com/centers/'+m.centerid+'/'+m.img.url" alt="...">
                      <div class="centro-text">
                          <h5 style="font-weight: bold" class="text-left" style="margin: 10px 0px;">
                              {{m.label}}
                           </h5>
                          <h5 class="text-left" style="margin: 10px 0px;">
                              {{m.description}}
                           </h5>
                      </div>
                      <div class="precio-map">
                          <h5 class="text-right" style="margin: 5px 0px;">
                              <strong> {{m.price}} €/h</strong>
                         </h5>
                      </div>
                  </div>
              </agm-info-window>
            </agm-marker>
          </agm-map>
      </div>
    </div>
  </div>
</section>
