<section class="container u-PaddingTop100 position-center">
    <form [formGroup]="formGroup" (ngSubmit)="login()" class="u-MarginBottom50 u-MarginTop50 u-Padding50 col-xs-12 col-md-6 col-lg-5 u-BoxShadow100">
        <div class="col-md-12">
            <h2>Inicia sesión</h2>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label">Usuario</label>
                <input type="text" class="form-control form-control--shadow" name="username" formControlName="username">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group u-PaddingBottom0">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control form-control--shadow" name="password" formControlName="password">
            </div>
        </div>
        <div class="col-md-12 position-right">
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
    </form>
</section>
