<section class="ImageBackground ImageBackground--gray v-align-parent u-height250" style="margin-top: 55px;">
  <div class="ImageBackground__holder" style="background-image: url(&quot;undefined&quot;);"></div>
  <div class="v-align-child">
    <div class="container ">
      <div class="row ">
        <div class="col-md-6 col-xs-12">
          <h1 class="u-MarginBottom50 u-Weight300">Política de cookies</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-PaddingTop50 u-xs-PaddingTop50 u-PaddingBottom100 u-xs-PaddingBottom0 container">
    <p>Esta Política de Cookies forma parte de nuestra Política de Privacidad general.
        Esta Política de Cookies le dará información clara y explícita sobre las tecnologías que
        usamos en nuestro sitio web, así como sus derechos de restringir este uso.</p>
      <h4>1. Introducción</h4>
      <p>
        1.1. Nuestro sitio web utiliza cookies para gestionar el uso de nuestro sitio web por parte
        de los usuarios y para comprender cómo las personas utilizan nuestro sitio web para
        mejorarlo.
      </p>
      <p>
        1.2. Al “marcar la casilla” de nuestras ventanas pop-up de Políticas de Cookies o
        continuar navegando por nuestro sitio, por la presente usted acepta nuestro uso de
        cookies como se define en esta Política de Cookies. Si no aceptas el uso de Cookies,
        puedes bloquearlos o inhabilitarlos usando la configuración de tu navegador a través de
        los enlaces de exclusión establecidos en esta Política de Cookies. Sin embargo, el
        bloqueo de todas o partes de las cookies puede tener un impacto negativo en el uso de
        este sitio web.
      </p>
      <h4>
        2. Cookies
      </h4>
      <p>
        2.1. Una cookie es cualquier tipo de archivo que se descarga en el equipo terminal de un
        usuario con la finalidad de almacenar datos que podrán ser actualizados y recuperados
        por la entidad responsable de su instalación. Las cookies utilizadas no pueden leer datos
        del disco duro.
      </p>
      <p>
        2.2. Hay dos tipos de cookies:
      </p>
      <p>
        a) las cookies &quot;persistentes&quot; permanecen en su computadora y seguirán siendo válidas
        hasta que el usuario las elimine o en su fecha de caducidad,
      </p>
      <p>
        b) las &quot;cookies de sesión&quot; se eliminan cuando se cierra el navegador web.
        2.3. Las cookies se pueden utilizar por razones técnicas del sitio web, para el análisis y
        para conectarse con sitios de terceros o publicidad.
      </p>
      <h4>
        3. Cookies en nuestra página web
      </h4>
      <p>
        3.1. Utilizamos cookies de sesión que se eliminan tan pronto como el navegador web se
        cierra.
      </p>
      <p>
        3.2. Utilizamos cookies analíticas que permiten al responsable de las mismas, el
        seguimiento el análisis del comportamiento de los usuarios de la web o aplicación a los
        que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en
        la medición de la actividad de los sitios web, aplicación o plataforma y para la
        elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y
        plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso
        que hacen los usuarios del servicio.
      </p>
      <p>
        3.3. Utilizamos cookies de publicidad o publicitarias que permiten la gestión de los
        espacios publicitarios en base a diferentes criterios. En algunos casos pueden llegar a ser
        cookies que hagan un seguimiento de los hábitos de navegación de los usuarios para un
        obtener un perfil del usuario que permita ofrecerle la información que más le interese
        incluso en páginas webs no gestionadas por nosotros.
      </p>
      <p>
        3.4. No compartiremos la información personal recopilada de nuestras cookies con
        ningún tercero, excepto como se establece en esta Política de Cookies.
      </p>
      <h4>
        4. Cookies de terceros
      </h4>
      <p>
        4.1. Utilizamos las siguientes cookies analíticas para analizar el uso de nuestro sitio web,
        realizar un seguimiento de los visitantes y con fines publicitarios:
      </p>
      <p>
        - Google: Google Tag Manager - para la gestión de etiquetas - política de privacidad en
        https://www.google.com/analytics/tag-manager/use-policy y
        https://www.google.com/policies/privacy (resumen <a href="https://apps.ghostery.com/es/apps/google_tag_manager">aquí</a>),
        Google Analytics para analizar
        el uso de nuestra web y Google Adwords para el seguimiento de la eficiencia de nuestros
        anuncios y para mostrar anuncios después de visitas a nuestra web desde los sitios de
        Google y de terceros que pertenecen a su red.
      </p>
      <p>
        - Mixpanel: analíticas de uso de nuestra web. Política de privacidad en
        https://mixpanel.com/privacy (resumen <a href="https://apps.ghostery.com/es/apps/mixpanel">aquí</a>)
      </p>
      <p>
        - Facebook: para el seguimiento de la eficiencia de nuestros anuncios, crear audiencias
        similares a nuestro tráfico y mostrar anuncios después de visitas en nuestra web. Política
        de privacidad en https://www.facebook.com/about/privacy/update
      </p>
      <p>
        - Linkedin: para el seguimiento de la eficiencia de nuestros anuncios. Política de cookies
        en https://www.linkedin.com/legal/cookie-policy
      </p>
      <h4>
        5. Bloqueo o eliminación de cookies
      </h4>
      <p>
        5.1. Hay instrucciones disponibles para configurar como trabajan las cookies y borrarlas
        en estos navegadores. Estos enlaces llevan a la página oficial de estos navegadores
        (ventana nueva) en la que se describe cómo gestionar las cookies:
        <a href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a>
        <a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-">Firefox</a>
        <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-11">Internet
          Explorer 11</a>
        <a href="https://support.apple.com/es-es/HT201265">Safari</a>
        <a href="https://help.opera.com/es/Windows/11.50/es-ES/cookies.html">Opera</a>
      </p>
      <h4>6. Contacto</h4>
      <p>
        6.1. Puede ponerse en contacto con nosotros por correo electrónico a
        info@wellshared.com
      </p>
</section>