<app-loader [hidden]="!HTTPActivity"></app-loader>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div id="cookieConsent" *ngIf="!acceptCookies">
  <p>
    Utilizamos cookies para asegurar que damos la mejor experiencia al usuario en nuestro sitio web. Si continúa
    utilizando este sitio asumiremos que está de acuerdo. <a class="link" routerLink="/cookies">Descubre más aquí</a>
  </p>
  <a class="btn btn-white btn-white--transparent u-Rounded text-uppercase u-MarginLeft10"
    (click)="accept()" style="overflow: inherit">ACEPTAR</a>
</div>
