#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    font-size: 14px;
    color: #ccc;
    padding: 20px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /*display: none;*/
    z-index: 9999;
    display: flex;
    justify-content: space-between;
}
p {
    color: white;
}
#cookieConsent .link {
    color: #4B8EE7;
    text-decoration: none;
}
