<section class="ImageBackground ImageBackground--gray v-align-parent u-height250" style="margin-top: 55px;">
  <div class="ImageBackground__holder" style="background-image: url(&quot;undefined&quot;);"></div>
  <div class="v-align-child">
    <div class="container ">
      <div class="row ">
        <div class="col-md-6 col-xs-12">
          <h1 class="u-MarginBottom50 u-Weight300">Política de privacidad</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-PaddingTop50 u-xs-PaddingTop50 u-PaddingBottom100 u-xs-PaddingBottom0 container">
  <h4>1. INTRODUCCIÓN</h4>
  <p>
    En WellShared somos conscientes de la trascendencia que tiene el tratamiento que
    hacemos de los datos que recabamos de nuestros usuarios y clientes. Por ello,
    WellShared cumple escrupulosamente con toda la normativa relativa a protección de
    datos que le es aplicable y ha implementado todas las medidas de índole técnica y
    organizativas necesarias para garantizar la seguridad de los datos, evitando así su
    alteración, pérdida, tratamiento o acceso no autorizado.
  </p>
  <p>
    Esta política explica cómo y con qué fines se utilizará la información recopilada acerca de
    usted a través de nuestro sitio Web. Por favor, lea esta política de privacidad
    atentamente. Al utilizar la Web y cualquier servicio que se ofrezca por estos medios,
    acepta haber sido informado mediante esta política en lo que respecta a la información
    recopilada acerca de usted.
  </p>
  <p>
    Si tiene alguna duda acerca de la política póngase en contacto con nosotros mediante
    correo electrónico en la dirección contact@wellshared.com y haremos todo lo posible por
    responder a sus preguntas.
  </p>
  <p>
    LEGISLACIÓN APLICABLE: Ley Orgánica 15/1999 de 13 de diciembre, de Protección de
    Datos de Carácter Personal y el Real Decreto 1720/2007, de 21 de diciembre por el que
    se aprueba el reglamento de desarrollo de la Ley Orgánica de Protección de Datos de
    Carácter Personal.
  </p>
  <h4>2. RECOPILACIÓN, USO Y FINALIDAD DE LOS DATOS</h4>
  <p>Usted puede visitar nuestra Web libremente sin necesidad de proporcionarnos ninguna
    información personal por su parte.</p>
  <p>Los datos que proporcione se entregarán voluntariamente para acceder a los servicios
    solicitados. En caso de que la información que nos facilite no sea veraz o usted no sea su
    titular o representante autorizado, Wellshared se reserva el derecho de cancelar la
    cuenta y los datos proporcionados, así como ejercer las acciones legales que pudieran
    corresponderle con objeto de compensar las posibles responsabilidades a las que tenga
    que hacer frente como consecuencia del tratamiento de la información facilitada.</p>
  <p>
    De acuerdo con la legislación vigente, los datos recabados se incluirán en un fichero del
    cual es titular WellShared, el cual ha sido debidamente inscrito ante la Agencia Española
    de Protección de Datos (AEPD) para su consulta.</p>
  <p>
    Al registrarse en nuestra Web, Wellshared únicamente le pedirá los siguientes datos
    personales: Nombre, apellidos y correo electrónico. Sin estos datos, no podremos crear
    una cuenta en el registro, por lo que son datos obligatorios.</p>
  <p>
    Este registro le dará acceso al sistema, mediante el cual podrá editar su perfil, configurar
    su cuenta, abrir las puertas de los espacios reservados, gestionar sus reservas, así como
    acceso a promociones y otros servicios ofrecidos en la Web.</p>
  <p>
    En el proceso de la primera reserva, se le solicitarán los datos de pago, los cuales
    únicamente serán registrados en la plataforma de pagos y a los que WellShared no
    tendrá acceso, y el número de teléfono móvil, imprescindible para acceder al espacio
    reservado.</p>
  <p>
    Al suscribirse a nuestra Newsletter WellShared le mantendrá informado sobre nuestras
    actividades, ofertas, promociones o información comercial relacionada con nuestros
    productos.</p>
  <p>
    Es posible cancelar la suscripción a la Newsletter de forma sencilla presionando el link
    situado al final de cada comunicación recibida.</p>
  <p>
    Los datos recabados a través de la Web serán utilizados únicamente para el uso y
    finalidad para el cual han sido solicitados.</p>
  <p>
    Estos datos no serán comunicados a terceros sin su consentimiento. Excepto si son
    necesarios para la prestación del servicio.</p>
  <h4>3. DATOS DE CARÁCTER PERSONAL NO SOLICITADOS</h4>
  <p>En el caso de recibir datos de carácter personal no solicitados mediante correo
    electrónico u otro medio, WellShared los incluirá en el fichero correspondiente y con la
    finalidad para la que se haya recibido:</p>
  <p>
    En caso de solicitud de información estos se incluirán en el fichero “CLIENTES” o
    “USUARIOS Web”, dependiendo del colectivo al que corresponda, para responder a la
    solicitud planteada y posteriores comunicaciones.</p>
  <h4>4. MENORES DE 18 AÑOS</h4>
  <p>
    En WellShared no tratamos datos personales de menores de 18 años ni dirigimos
    nuestros contenidos o información a este público. Por favor, si eres menor de 18 años,
    no te registres o solicites información.
  </p>
  <p>
    Si tenemos conocimiento de que los datos remitidos corresponden a un menor de 18
    años, estos serán suprimidos de oficio de nuestra base de datos.
  </p>
  <h4>
    5. COMUNICACIÓN O CESIÓN DE DATOS
  </h4>
  <p>
    WellShared nunca cederá o comunicará sus datos personales a terceros excepto bajo su
    consentimiento.
  </p>
  <h4>
    6. USUARIOS REGISTRADOS
  </h4>
  <p>
    Si se ha registrado en la zona privada, las cookies servirán para identificarle como
    usuario registrado cada vez que acceda al mismo, permitiéndole así el acceso y uso a las
    secciones, servicios, funcionalidades y/o promociones de la Web establecidas
    especialmente para los usuarios registrados.
  </p>
  <h4>
    7. DESACTIVAR COOKIES O REVOCAR EL CONSENTIMIENTO
  </h4>
  <p>
    Le recordamos que tiene la posibilidad de desactivar las cookies o de revocar el
    consentimiento prestado cuando lo desees, a través de la configuración de su
    navegador.
  </p>
  <p>
    Si quiere saber más a este respecto, y para que esta información siempre esté
    actualizada, le recomendamos que consulte el siguiente enlace: www.aboutcookies.org
  </p>
  <h4>
    8. CONSECUENCIAS DE DESACTIVACIÓN
  </h4>
  <p>
    Si decide desactivarlas o revocar el consentimiento, tenga en cuenta que no podrá
    disfrutar de las funcionalidades o servicios que precisen el uso de las mismas hasta que
    no vuelva a activarlas.
  </p>
  <h4>
    9. EJERCICIO DE DERECHOS DE ACCESO, RECTIFICACIÓN,CANCELACIÓN Y
    OPOSICIÓN
  </h4>
  <p>
    El usuario podrá en cualquier momento ejercer sus derechos de acceso, rectificación,
    cancelación y oposición en los términos establecidos en la Ley Orgánica 15/1999,
    dirigiéndose al responsable del fichero por correo electrónico a info@wellshared.com
  </p>
  <h4>
    10. VÍNCULOS A WEBS DE TERCEROS
  </h4>
  <p>
    WellShared, no es responsable de las políticas de privacidad y prácticas de otros sitios,
    incluso aunque accedan a ellos utilizando vínculos desde nuestra Web, por lo que
    recomendamos compruebe siempre la política de cada sitio Web que visite.
  </p>
  <h4>
    11. MODIFICACIÓN DE ESTA POLÍTICA DE PRIVACIDAD
  </h4>
  <p>
    WellShared se reserva el derecho a modificar su Política de Privacidad, de acuerdo a su
    propio criterio, o motivado por un cambio legislativo, jurisprudencial o doctrinal de la
    Agencia Española de Protección de Datos.
  </p>
  <p>
    El uso de la Web después de dichos cambios, implicará la aceptación de estos.
  </p>
</section>