<section class="ImageBackground ImageBackground--gray v-align-parent u-height250" style="margin-top: 55px;">
  <div class="ImageBackground__holder" style="background-image: url(&quot;undefined&quot;);"></div>
  <div class="v-align-child">
    <div class="container ">
      <div class="row ">
        <div class="col-md-6 col-xs-12">
          <h1 class="u-MarginBottom50 u-Weight300">Preguntas frecuentes</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-PaddingTop50 u-xs-PaddingTop50 u-PaddingBottom100 u-xs-PaddingBottom0 container">
  <div class="row">
    <div class="col-md-12 col-sm-12 u-sm-MarginTop50">
      <div class="panel-group u-PaddingLeft20 u-sm-PaddingLeft0" id="accordion1">
        <div class="panel panel-info">
          <div class="panel-heading" id="heading4-1">
            <div class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="true"
                aria-controls="collapse4-1">
                ¿Cómo hago mi primera reserva en Wellshared?
              </a>
            </div>
          </div>
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading4-1">
            <div class="panel-body">
              <p>¡Muy fácil! Puedes reservar por la web siguiendo los siguientes pasos:</p>
              <ol>
                <li><a routerLink="/salas">Busca</a></li>
                <li>Encuentra el espacio que mejor se adapte a ti</li>
                <li>Reserva las horas que necesites</li>
                <li>Rellena un breve formulario para completar la reserva</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="heading4-2">
            <div class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"
                aria-expanded="false" aria-controls="collapse4-2">
                ¿El espacio es compartido con otras personas?
              </a>
            </div>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
            <div class="panel-body">
              No. El espacio es privado, pero servicios del centro de fisioterapia como el
              vestuario, la sala de espera o el baño suelen ser compartidos.
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="heading4-2">
            <div class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapse3"
                aria-expanded="false" aria-controls="collapse4-2">
                ¿Cómo entro al espacio?
              </a>
            </div>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
            <div class="panel-body">
              El responsable del centro de fisioterapia es el encargado de darte acceso a la salaque has reservado.
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="heading4-2">
            <div class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapse4"
                aria-expanded="false" aria-controls="collapse4-2">
                ¿Puedo compartir la reserva con otras personas?
              </a>
            </div>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
            <div class="panel-body">
              No. El uso de la sala es exclusivo para el fisioterapeuta con el número de colegiado que se ha indicado en
              la reserva.
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="heading4-2">
            <div class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapse5"
                aria-expanded="false" aria-controls="collapse4-2">
                ¿Cuál es el tiempo mínimo que se puede reservar?
              </a>
            </div>
          </div>
          <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
            <div class="panel-body">
              La reserva mínima es de 1 hora.
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="heading4-2">
            <div class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapse6"
                aria-expanded="false" aria-controls="collapse4-2">
                ¿Puedo cancelar la reserva?
              </a>
            </div>
          </div>
          <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
            <div class="panel-body">
              Sí. Puedes cancelar la reserva hasta 2 horas antes del inicio de la misma.
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="heading4-2">
            <div class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapse7"
                aria-expanded="false" aria-controls="collapse4-2">
                ¿Cuánto cuesta?
              </a>
            </div>
          </div>
          <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
            <div class="panel-body">
              Wellshared conecta fisioterapeutas y centros de fisioterapia. Solo pagas el precio
              que marca el centro.
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="heading4-2">
            <div class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapse8"
                aria-expanded="false" aria-controls="collapse4-2">
                ¿Cómo pago la reserva?
              </a>
            </div>
          </div>
          <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
            <div class="panel-body">
              Antes de utilizar la sala tendrás que abonar al responsable del centro el precio total
              de la reserva. Los métodos de pago disponibles los establece cada centro y podrás
              consultarlos antes de realizar la reserva.
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="heading4-2">
            <div class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapse9"
                aria-expanded="false" aria-controls="collapse4-2">
                ¿Cómo puedo disponer de factura?
              </a>
            </div>
          </div>
          <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
            <div class="panel-body">
              Puedes solicitar la factura enviando un mail a wellshrd@gmail.com
            </div>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading" role="tab" id="heading4-2">
            <div class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapse10"
                aria-expanded="false" aria-controls="collapse4-2">
                ¿Puedo usar un espacio Wellshared como domicilio fiscal o de facturación?
              </a>
            </div>
          </div>
          <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-2">
            <div class="panel-body">
              No. Este servicio no forma parte de la actividad de Wellshared.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>