<ng-container *ngIf="center">
    <div class="container" style="margin-top: 100px;">
        <a class="back-link" [routerLink]="['/salas', center.id]" routerLinkActive="router-link-active"><i
                class="fa fa-arrow-left"></i> Volver al centro</a>
        <div class="row u-MarginLeft5">
            <h3>Reserva para {{ center.name }}</h3>
        </div>
        <div class="row u-MarginBottom20">
            <form [formGroup]="formGroup" (ngSubmit)="submit()" class="u-Padding10">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control form-control--shadow" name="name"
                                    formControlName="name" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Apellidos</label>
                                <input type="text" class="form-control form-control--shadow" name="sname"
                                    formControlName="sname" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Número de colegiado</label>
                                <input type="number" class="form-control form-control--shadow" name="number"
                                    formControlName="number" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control form-control--shadow" name="email"
                                    formControlName="email" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label class="form-label">Fecha de reserva</label><br>
                                <div class="input-group">
                                    <input class="form-control form-control--shadow" formControlName="date"
                                        placeholder="" name="dp" #dp="bsDatepicker" bsDatepicker [daysDisabled]="[0]">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" (click)="dp.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Hora desde</label>
                                <div class="select-wrapper">
                                    <select class="form-control" id="timeFrom" formControlName="timeFrom">
                                        <option *ngFor="let hora of horas" [value]="hora">{{ hora }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Hora hasta</label>
                                <div class="select-wrapper">
                                    <select class="form-control" id="timeTo" formControlName="timeTo">
                                        <option *ngFor="let hora of horas" [value]="hora">{{ hora }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Teléfono</label>
                                <input type="tel" class="form-control form-control--shadow" name="phone"
                                    formControlName="phone" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group u-MarginTop10">
                                <label class="form-label"></label>
                                <input type="checkbox" style="margin-right: 10px" name="cookies"
                                    formControlName="cookies">
                                <label>Acepto la <a routerLink="/privacidad">Política de privacidad</a> de
                                    wellshared.es</label>
                            </div>
                        </div>
                        <div class="col-md-12 u-MarginBottom20">
                            <re-captcha (resolved)="resolved($event)" [siteKey]="apiCaptcha"></re-captcha>
                        </div>
                    </div>
                </div>

                <div class="row u-MarginTop20">
                    <div class="col-md-6 u-MarginBottom20">
                        <app-calendar *ngIf="center" [center]="center" [height]="400"></app-calendar>
                    </div>
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <!-- CREDIT CARD FORM STARTS HERE -->
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table">
                                <div class="row display-tr">
                                    <div class="col-md-6">
                                        <h4 class="pay-title u-MarginLeft10">Información de pago</h4>
                                    </div>
                                    <div class="col-md-6 u-MarginTop20">
                                        <img class="img-responsive pull-right u-MarginRight10"
                                            src="http://i76.imgup.net/accepted_c22e0.png">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Nombre del propietario</label>
                                            <input type="text" class="form-control form-control--shadow" name="cardUser"
                                                formControlName="cardUser" placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Número de tarjeta</label>
                                            <input type="text" class="form-control form-control--shadow"
                                                [value]="formGroup.get('cardNumber').value | creditCardMask"
                                                name="cardNumber" formControlName="cardNumber"
                                                placeholder="4242 4242 4242 4242" maxlength="19">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">F. Cad.</label>
                                            <input type="text" class="form-control form-control--shadow"
                                                [value]=" formGroup.get('expiryDate').value |  expiryDate"
                                                formControlName="expiryDate" name="expiryDate" placeholder="12/21"
                                                maxlength="5">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="form-label">CVC</label>
                                            <input type="text" class="form-control form-control--shadow"
                                                formControlName="cvv" name="cvv" placeholder="123" maxlength="3">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 u-MarginTop20 u-MarginBottom20">
                                        <button type="submit"
                                            [disabled]="!formGroup.valid || !formGroup.controls['cookies'].value || !recaptchaToken"
                                            class="btn btn-block btn-primary btn--alien">Reservar
                                            {{getPrice()}} €</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-primary u-MarginTop20" role="alert" *ngIf="responseMsg">
                                            {{responseMsg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-container>