/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.middle-parallax {
  max-height: 300px;
}

@media only screen and (max-width: 600px) {
  agm-map {
    height: 500px;
    width: 100%;
  }
}

.u-height80 {
  height: 80px;
}

.u-Padding25 {
  padding: 25px;
}

.cursor-pointer {
  cursor: pointer;
}

.agm-info-window-content {
  padding: 0px;
  max-width: 250px;
}

select.form-control {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #016453;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.gm-style .gm-style-iw-c {
  padding: 0px !important;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style img {
  max-width: 100%;
}

Heading-wing::after,
.Heading-wing::before {
  position: absolute;
  top: 50%;
  width: 64px;
  height: 2px;
  content: "";
  background-color: #000;
}

.centro-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #77c9b0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  margin-bottom: 30px;
}

.card-content {
  padding: 0px 10px;
}

.card-square {
  padding: 0px 10px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  background-color: #77c9b0;
  border-radius: 6px;
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.centro-text {
  padding: 0px 10px;
}

.precio-map {
  width: 64px;
  height: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
  color: #fff;
  background: #207667;
  right: 0;
  top: 10%;
  padding: 10px;
  font-weight: 700;
  opacity: .9;
}

.input-group {
  width: 100%;
  display: flex;
}

button.btn.btn-link {
  display: none !important;
}

.inline-items {
  display: flex;
}

.vertical-align-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fc-toolbar h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.fc table {
  font-size: 0.9em;
}

.position-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.position-right {
  display: flex;
  justify-content: flex-end;
}

.position-flex-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.admin-section {
  margin-top: 80px;
  height: 130px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.font-bold {
  font-weight: bold;
}

.spacing-15 {
  letter-spacing: 1.5px;
}

.u-height400 {
  height: 400px;
}

.btn-rounded {
  border-radius: 268px;
  width: 45px;
  padding: 0;
}

.bs-datepicker-container {
  padding: 0px;
}

.back-link {
  color: #3a887a;
  text-decoration: underline;
  font-weight: 600;
}
.u-height150 {
  height: 150px;
}
.u-Maxheight300 {
  max-height: 300px;
}
.display-none {
  display: none;
}