<footer class="bg-darker u-PaddingTop100 u-PaddingBottom100">
  <div class="container text-sm">
      <div class="row">
          <div class="col-md-4 u-xs-MarginBottom30">
              <ul class="light-gray-link border-bottom-link list-unstyled u-LineHeight2 u-PaddingRight40 u-xs-PaddingRight0">
                  <li> <a routerLink=""><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Home</a></li>
                  <li> <a routerLink="salas"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Ver salas</a></li>
                  <li> <a routerLink="alquila"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>¿Quieres alquilar tu sala?</a></li>
                  <li> <a routerLink="contacto"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Contacto</a></li>
              </ul>
          </div>
          <div class="col-md-4 u-xs-MarginBottom30 text-center">
            <img class="retina logo" src="assets/imgs/logo_blanco.png" alt="" style="height: 55px; width: auto;">
              <div class="social-links sl-default border-link circle-link colored-hover">
                <a href="#" class="linkedin">
                  <i class="fa fa-linkedin color-white"></i>
              </a>
                <a href="#" class="linkedin">
                    <i class="fa fa-facebook color-white"></i>
                </a>
                <a href="#" class="instagram">
                    <i class="fa fa-instagram color-white"></i>
                </a>
            </div>
          </div>
          <div class="col-md-4 u-xs-MarginBottom30">
            <ul class="light-gray-link border-bottom-link list-unstyled u-LineHeight2 u-PaddingRight40 u-xs-PaddingRight0">
                <li> <a routerLink="faq"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Preguntas frecuentes</a></li>
                <li> <a routerLink="privacidad"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Política de privacidad</a></li>
                <li> <a routerLink="cookies"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Política de cookies</a></li>
            </ul>
        </div>

      </div>
  </div>
</footer>